/*
    CSS stylesheet for personal website.
    >>> https://kmder.cc

    Filename: > style.css <
    Author: Ye Yang
*/

body {
    color: black;
    font-size: 120%;
    background-image: url("bg.jpg");
}

a{
    color: darkgreen;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 140%;
}

.menu {
    border-radius: 16px;
    border: solid 4px;
    width: 100%;
    background-color: burlywood;
    margin: auto;
}

.menu table {
    width: 80%;
    margin: auto;

    font-size: 120%;
    text-align: center;
}

.menu td {
    width: 20%;
}

.menu td:hover {
    border-radius: 8px;
    background-color: wheat;
    cursor: pointer;
}

.header {
    /*background-image: url("logo.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color;*/

    width: 100%;
    text-align: center;
    text-shadow: 2px 2px darkgray;

    animation-name: fade-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.content {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0%;

    width: 60%;
    padding: 0.5%;
    margin: auto;
}

boundary {
    border: 4px black dashed;
    border-radius: 8px;
    display: block;
}

@keyframes fade-up {
    0% {
        margin-top: -20%;
    }

    100% {
        margin-top: 0%;
    }
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}